<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Management</title>

    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">



</head>
<body>



    <div class="container mt-5">
        <h1 class="text-center mb-4">Sample Management</h1>


       <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title">Code Search</h2>
                <form method="post" action="{% url 'code_search' %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" name="search_query" id="search_query" class="custom-input form-control" placeholder="Enter your search query">

                        <button type="submit" class="btn btn-success">Search</button>
                    </div>
                </form>
               {% if no_results and request.method == "POST" %}
                    <div class="alert alert-warning">
                        <strong>Alert:</strong> No matching codes found
                        {% if request.POST.search_query|length != 5 %}
                            <br>Your code should be exactly 5 characters long.
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>





        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title">Search For Sample</h2>
                <form method="post" action="{% url 'sample_search' %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" name="search_query" class="form-control" placeholder="Enter Sample Code or Sample Name">
                        <button type="submit" class="btn btn-success">Search</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title">Register a New Sample</h2>
                <a href="{% url 'register_sample' %}" class="btn btn-success" style="width: 100%;">Register a New Sample</a>
            </div>
        </div>


    </div>

    <!-- Include Bootstrap JS and Popper.js if needed -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script> -->
</body>
</html>
